.ReactModal__Content {
  &--after-open {
    animation-name: Modal_animation_in;
    animation-duration: 0.4s;
  }
  &--before-close {
    animation-name: Modal_animation_out;
    animation-duration: 0.4s;
  }
}

// @keyframes Modal_animation_in {
//   0% {
//     transform: scale(0);
//   }
//   100% {
//     transform: scale(1);
//   }
// }

// @keyframes Modal_animation_out {
//   0% {
//     transform: scale(1);
//   }
//   100% {
//     transform: scale(0);
//   }
// }

.alert_skills_modal {
  width: 270px;
  text-align: center;
}
.modal-react {
  position: absolute;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 30px;
  outline: none;
  padding: 20px;
  margin: auto;
  width: 400px;
  height: 220px;
  z-index: 1;
  display: flex;
}
.testChild {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;

  padding-left: 30px;
  text-align: right;
  justify-content: flex-end;
  .MuiSvgIcon-root {
    float: right !important;
  }

  h2 {
    width: 100%;
    color: black;
    font-size: 20px;
  }
  .button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    button {
      border: $borderButtunSubmit;
      width: 106px;
      padding: 0;
      height: 35px;
      border-radius: $border_radius_box;
      background: transparent;
      transition: all 0.3s ease;
      &:hover {
        background-color: $editeIcon;
        color: $colorMain;
      }
      &:nth-child(2) {
        background-color: $closeIcon;
        color: $colorMain;
        border: $closeIcon;
      }
    }
  }
  p {
    color: black;
  }
}
