.addword {
    .w-name {
        .MuiFormControl-root {
            border: 0;
            margin: 0;
            width: 320px;
            display: inline-flex;
            padding: 0;
            position: relative;
            min-width: 0;
            flex-direction: column;
            vertical-align: top;
            margin-right: 2px;
        }
    }

    .p-lan {
        padding-right: 1.9rem !important;

    }

    .w-lan {
        .MuiFormControl-root {
            border: 0;
            margin: 0;
            width: 330px;
            display: inline-flex;
            padding: 0;
            position: relative;
            min-width: 0;
            flex-direction: column;
            vertical-align: top;
        }
    }

    .add_img_box {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 5px solid #e5e5e5;
        cursor: pointer;
        overflow: hidden;
    }

    .add_img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 10px;
    }

    .MuiInputLabel-shrink {
        transform: translate(20px, -7px) scale(.75) !important;
    }

    .MuiFilledInput-root {
        background-color: #fff !important;
    }

    .MuiFilledInput-root:hover {
        background-color: #fff !important;
    }

    .MuiInputBase-root {
        padding: 0 !important;
    }

    .MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-popupIndicator {
        display: none;
    }

    .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"] .MuiAutocomplete-endAdornment {
        right: 0;
    }

    .MuiInputLabel-formControl {
        float: right;
        left: inherit;
    }

    .MuiSelect-icon {
        right: -5px !important;
    }

    .MuiSelect-select.MuiSelect-select {
        font-family: 'paragraphFont';
    }


    
    .flashcart_taginput .MuiInputBase-root {
        padding: 10px 0 !important;
    }

    .MuiAutocomplete-clearIndicator {
        margin-top: 0.65rem !important;
    }

    .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"] .MuiAutocomplete-input {
        padding: 0px 3px 3px !important;
        margin-right: 28px;
        margin-top: 17px;

        &::placeholder {
            font-size: 16px;
        }
    }

    .MuiAutocomplete-tag {
        position: relative;
        top: 10px;
        right: 28px;
    }

    .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated {
        font-family: 'paragraphFont';
        position: absolute;
        right: 15px !important;
    }

    .selectLanguage {
        .MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu.MuiInputBase-input.MuiInput-input {
            text-align: right;
            position: relative;
            left: 15px;
        }

        .MuiSelect-icon {
            left: 0 !important;
            right: auto !important;
        }
    }

}



// .MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiAutocomplete-inputRoot.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedStart.MuiFilledInput-adornedStart.MuiInputBase-adornedEnd.MuiFilledInput-adornedEnd {
//     direction: ltr;
// }
// .MuiAutocomplete-endAdornment {
//     left: 0;
//     right: auto;
// }
//.languages {
//     position: absolute;
//     z-index: 1;
//     /* left: 20px; */
//     right: 20px;
//     left: auto;
// }