.upload_voice {
    width: 100%;

    .voice_box1 {
        width: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        height: 50px;
        border: $border_gray;
        border-radius: 0 6px 6px 0;
        padding-bottom: .5rem !important;
        padding-top: .5rem !important;

    }

    .voice_box1_full {
        width: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        height: 50px;
        border-radius: 0 6px 6px 0;
        border: $border_perlingo !important;
        padding-bottom: .5rem !important;
        padding-top: .5rem !important;
    }

    .voice_box2 {
        width: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
        height: 50px;
        border-right: none !important;
        border: $border_gray;
        border-radius: 6px 0 0 6px;
        padding-bottom: .5rem !important;
        padding-top: .5rem !important;
    }

    .voice_box2_full {
        width: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
        height: 50px;
        border-right: none !important;
        border-radius: 6px 0 0 6px;
        border: $border_perlingo;
        padding-bottom: .5rem !important;
        padding-top: .5rem !important;
    }

    .text_style {
        font-size: 14px;
        font-weight: 900;
        color: $gray_77777;
    }

    .voice_style {
        width: 50px;
        height: 50px;
    }

    // .w-365 {
    //     width: 365px; // width listening
    // }
    @media screen and (max-width:576px) {
        .voice_box2 {
            width: 50%;
            justify-content: center;
            align-items: center;
            display: flex;
            height: 50px;
            border: 4px solid #e5e5e5 !important;
            border-radius: 6px 6px 6px 6px;
            padding-bottom: .5rem !important;
            padding-top: .5rem !important;
        }

        .voice_box2_full {
            width: 50%;
            justify-content: center;
            align-items: center;
            display: flex;
            height: 50px;
            border-radius: 6px 6px 6px 6px;
            border: $border_perlingo !important;
            padding-bottom: .5rem !important;
            padding-top: .5rem !important;
        }
    }
}