.loading-main {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 500000;
  .loading-img{
    width: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px !important;
    overflow: hidden;

    img{
      width: 100%;
      height: 100%;
    }
  }
}
