.header-main {
  display: flex;
  align-items: center;
  border-bottom: $input_border;
  padding-bottom: 0 !important;
  .menu-bar {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-right: 0;
    font-weight: bold;
    .bg-light {
      background-color: transparent !important;
    }
  }
  .logo-header {
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    align-items: center;
    .img-header {
      width: 40%;
      height: 50px;
      img {
        width: 82%;
      }
    }
    p {
      margin: 0;
      margin-right: 10px;
    }
  }
}
.navbar-brand {
  margin: 0 !important;
}
.navbar-collapse {
  text-align: right;
}

.navbar-nav a.active {
  color: #00ccff !important;
}

.header-main .logo-header .img-header img {
  width: 50px;
}



.header {
  display: flex;
  background: linear-gradient(#6616fc, #f394d3);
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  height: 80px;
}
.logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 45px;
  height: 45px;
}
.nav-options {
  padding-left: 25px;
  display: grid;

  grid-gap: 50px;
  list-style-type: none;
}
.mobile-option {
  display: none;
}

.signin-up {
  display: flex;
  padding: 0px 5px;
  list-style-type: none;
}
.sign-in {
  padding-right: 50px;
  align-self: center;
}
.sign-in :hover {
  color: white;
}
.signup-btn {
  padding: 10px 10px;
  height: 2.4rem;
  border-radius: 3px;
  background: rgb(222, 9, 241);
  color: white;
  cursor: pointer;
  align-items: center;
}
@media (min-width: 650px) {
  .mobile-menu {
    display: none !important;
  }
  .nav-options {
    width: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: inherit;
  }

  .nav-options {
    margin-right: 60px;
    .option {
      text-decoration: none;
      color: $colorLinkHead;
      font-weight: 700;
      a {
        text-decoration: none;
        color: $colorLinkHead;
        font-weight: 700;
        &:hover {
          color: $hoverLinkHead;
        }
      }
      &:hover {
        color: $hoverLinkHead;
      }
    }
  }
}
@media (max-width: 648px) {
  /*Mobile View */
  .header {
    padding: 0px 10px;
  }
  .logo-header {
    margin-right: 0 !important;
  }
  .logo {
    width: 45px;
    height: 45px;
  }

  .nav-options {
    display: flex;
    width: 100%;
    height: 350px;
    position: fixed;
    left: -280px;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }
  .nav-options.active {
    box-shadow: -24px 9px 24px #666;
    top: 80px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
    background-color: $colorMain;
    width: 100%;
    right: 0;
  }

  .menu-icon {
    width: 45px;
    height: 45px;
  }
  .option {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 30px 0px;
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }
  .signin-up {
    display: none;
  }
}
.option {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 30px 0px;
  text-decoration: none;
}
.mobile-menu {
  display: block;
}
@media screen and(max-width: 480px) {
  .menu-bar {
    justify-content: space-between;
  }
  .header-main {
    padding: 0 !important;
  }
}
@media screen and (min-width: 600px) {
  .img-header {
    width: auto !important;
  }
}
