.login-main {
  .header-login {
    background: url("../../img/bgPerlingo.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-bottom: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .img-login {
      background: url("../../img/perlingo-favicon.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 88px;
      width: 88px;
      position: absolute;
      bottom: -40px;
    }
  }
  .content-api {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    form {
      label {
        width: 100%;
        font-weight: 600;
        color: #aeaeae !important;
        text-align: right;
        .MuiFormControl-root {
          position: relative;
          width: 100%;
          display: flex;

          .MuiInputBase-formControl {
            width: 100%;

            input {
              width: 100%;
              border: none !important;

              &:focus {
                border: none !important;
                ~ input {
                }
              }
            }
          }
          .MuiInputLabel-outlined {
            transform: scale(1) !important;
            transform-origin: right top !important ;
            position: absolute;
            right: 5px !important;
            top: 15px !important;
          }
          .MuiInputLabel-shrink {
            transform: scale(0.75) !important;
            transform-origin: right top !important ;
            position: absolute;
            right: 8px !important;
            top: -5px !important;
          }
          // .MuiInputLabel-shrink {
          //   transform: translate(109px, -7px) scale(0.75);
          // }
          // .MuiInputLabel-outlined {
          //   transform: translate(5px, 15px) scale(1);
          // }
        }
        // .MuiInputLabel-shrink {
        //   transform: translate(109px, -7px) scale(0.75);
        // }
        // .MuiInputLabel-outlined {
        //   transform: translate(5px, 15px) scale(1);
        // }
      }
      .btn-outline-info {
        color: $hoverLinkHead !important;
        border-color: $hoverLinkHead !important;
        border: 2px solid;
        font-weight: 900 !important;
        border-radius: 10px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        .loading-login {
        }
      }
      .text_gray_login {
        color: #303030 !important;
        font-weight: 100;
      }
      button {
        transition: all 0.5s !important;
        p {
          font-weight: bold !important;
          color: $hoverLinkHead;
          margin: 0;
          transition: all 0.5s !important;
        }
        &:hover {
          background-color: transparent !important;

          transition: all 0.5s !important;

          p {
          }
        }
      }
    }
  }
}
// @media screen and (max-width: 500px) {
//   .MuiFormControl-root {
//     .MuiInputLabel-shrink {
//       transform: translate(88px, 10px) scale(0.75) !important;
//     }
//     .MuiInputLabel-outlined {
//       transform: translate(10px, 15px) scale(1) !important;
//     }
//   }
// }
