.main-parent-statios {
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
}

.main-manage-station {
    display: block;
    float: right;
    width: 100%;
    flex-direction: row;
    padding: 50px 0;
}

.main-content-setion {
    background-color: $colorMain;
    // margin-right: 22px;
    overflow: initial;
    position: relative !important;
    border: $border_box;
    border-radius: $borderRadius-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    float: right;
    z-index: 0;
    .title_box {
        background-color: $white;
        position: absolute;
        display: flex;
        z-index: 0;
        width: 80px;
        height: 80px;
        top: -40px;
        left: 50%;
        border: $border_box;
        border-radius: $border_radius_circle;
        justify-content: center;
        align-items: center;
        margin-left: -52px;
        overflow: hidden;
        img {
            width: 100%;
            height: 72px;
        }
    }
}

.sticymenu {
    position: sticky !important;
    top: 47px !important;
    height: fit-content;
}

.main-skil-level,
.main-skil-lessen {
    width: 100%;
    padding: 30px 50px;
    padding-bottom: 0;
    .priority-level,
    .priority-lesson,
    .add-lesson {
        width: 100%;
        border: $border_box_level;
        position: relative;
        padding: 12px 50px;
        border-radius: $border_radius_box;
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
            font-size: 21px;
            font-weight: 800;
            margin-left: 0;
        }
        p {
            margin: 0;
        }
        .hover-list {
            display: none;
            position: absolute;
            width: 200px;
            background-color: $backgroundHover;
            #close-icon,
            #edite-icon {
                cursor: pointer;
            }
            #close-icon {
                &:hover {
                    #edite-icon {
                        color: $hoverEditIcon !important;
                    }
                }
            }
        }
        &:hover {
            .hover-list {
                display: block;
                position: absolute;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .opacityMain {
                display: block;
            }
        }
    }
    .priority-level {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .level-list {
            background: $backgroundHover;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            bottom: 0;
            width: 100%;
            right: 0;
            left: 0;
            visibility: hidden;
            background-color: $backgroundHover;
            background-color: blueviolet;
        }
        &:hover {
            .level-list {
                display: block;
                background: $backgroundHover;
                position: absolute;
                display: flex;
                justify-content: center;
                justify-content: center;
                align-items: center;
                top: 0;
                bottom: 0;
                width: 100%;
                right: 0;
                visibility: visible;
            }
        }
    }
    .add-lesson {
        border: $dashed_border;
        width: 713px;
        cursor: pointer;
    }
    .priority-lesson {
        margin-bottom: 10px;
        .ReactModal__Content--after-open {
            width: 30% !important;
        }
    }
}

.main-skil-lessen {
    padding-left: 0;
    padding-top: 10px;
}

.main-skil-level {
    background-color: $colorMain;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    &:nth-child(2) {
        margin-top: 50px;
    }
}

.add-class-style {
    border: $dashed_border;
    width: 86%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 50px;
}

.priority-lesson {
    .ReactModal__Overlay--after-open {
        background-color: red !important;
    }
}

.bg-dragging {
    background-color: rgba(255, 255, 255, 0.541);
    color: rgba(22, 21, 20, 0.425);
}

.bg-draggingMain {
    // rgba(227 246 222 / 19%)
    background-color: rgba(227, 246, 222, 0.123);
    width: 88%;
    cursor: move;
    border-radius: 10px;
    border: 1px dashed #ececec;
    padding: 15px;
}

@media screen and (max-width: 620px) {
    .main-manage-station {
        width: 352px;
        padding: 50px 10px;
        .main-content-setion {
            width: 100%;
            .main-skil-lessen {
                padding: 0;
                padding-top: 10px;
                .priority-lesson {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 620px) {
    .main-parent-statios {
        flex-direction: column;
        .main-content-setion {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 420px) {
    .main-skil-level {
        padding: 0;
    }
    .main-skil-lessen {
        padding-right: 5px;
    }
    .add-class-style {
        width: 100%;
    }
    .ReactModal__Content {
        width: 90% !important;
    }
}