.skill_box {
  position: relative;
  padding: 10px;
  width: 100%;
  border: $border_box;
  border-radius: 30px;

  // title Skill
  .title_box {
    background-color: $white;
    position: absolute;
    display: flex;
    width: 80px;
    height: 80px;
    top: -40px;
    border: $border_box;
    border-radius: $border_radius_circle;
    justify-content: center;
    align-items: center;

    .text_gray {
      color: #a5a4a4;
    }
  }

  .img_box {
    background-color: $maingray;
    position: absolute;
    display: flex;
    width: 80px;
    height: 80px;
    top: -40px;
    border: $border_box;
    border-radius: $border_radius_circle;
    justify-content: center;
    align-items: center;

    .img_w {
      position: relative;
      width: 40px;
    }

    .index_priority {
      position: absolute;
      margin-top: 5px;
      margin-left: 2px;
    }
  }

  //  add Skill Box
  .set_skill_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 90%;
    height: 150px;
    border-radius: 10px;
    border: $dashed_border;
    padding: 0 2rem 0 2rem;
    overflow: hidden;
    width: 200px;
  }

  // Button Add Skill
  // .add_skill {
  //     display: flex;
  //     width: 80px;
  //     height: 80px;
  //     border-radius: 50%;
  //     border: $dashed_border;
  //     justify-content: center;
  //     align-items: center;
  //     background-color: $maingray;
  //     color: #999999;
  // }
  // skill items
  .skill_item {
    position: relative;
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }

  .skill_setting {
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 50%;
  }

  .bg_skill_item {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: $maingray;
    width: 85px;
    height: 85px;
    border-radius: 50%;
  }

  .style_lable {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 98px;
    white-space: nowrap;
  }

  .p-07 {
    padding: 0.7rem !important;
  }

  .full_row {
    cursor: no-drop;
    border: 2px dashed #f50000 !important;
  }
}

.modal_add_img {
  position: relative;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  margin-top: 1rem !important;
  border: $input_border;

  .hover_add_img {
    display: flex;
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }
}

.text_remove_Modal {
  font-weight: 900;
  font-size: 1.1em;
}

.pv_img_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.outline-none {
  outline: none;
}
