html,
body {
  direction: rtl;
  font-family: paragraphFont !important;
  overflow-x: hidden;
}

.pointer {
  cursor: pointer;
}

.green_icon {
  color: #4caf50;
}

// Borders
$border: 1px solid #44444436;
$border_box: 5px solid $maingray;
$border_box_level: 2px solid #dfdfdf;
$border_radius_circle: 50%;
$border_radius_box: 6px;
$border_radius_box_wb: 10px;
$dashed_border: 2px dashed $maingray;
$borderRadius-box: 30px;
$borderAddBorder: 4px solid #e5e5e5;
$input_border: 2px solid #9b9b9b;
$borderButtunSubmit: 1px solid $editeIcon;
$flashcard_radius: 15px;
$borderText: 1px solid #000000ec;
$borderSelect: 2px solid #44444452;
$border_gray: 4px solid $maingray;
$border_perlingo: 4px solid $smooth_perlingo;
$border_wordbank: 4px solid $border_wordbank;
$border-radius-dashboard: 28px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: paragraphFont !important;
}

.text_style_box {
  color: #000 !important;
  font-size: 12px;
}

#edite-icon {
  color: $editeIcon;
}

#close-icon {
  color: $closeIcon;
}

#edite-icon,
#close-icon {
  cursor: pointer;
}

#close-icon {
  &:hover {
    #edite-icon {
      color: $hoverEditIcon !important;
    }
  }
}
.chose-main {
  border: $dashed_border !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  width: 32px;
  color: $colorText;
}

p {
  color: $colorText;
}

input {
  font-family: "paragraphFont" !important;
}

.MuiOutlinedInput-input {
  padding: 14px !important;
}

.MuiInputBase-root {
  padding: 0 !important;
}

select {
  color: $colorText !important;

  option {
  }
}

.w-95 {
  width: 95% !important;
}

.text_bold {
  font-weight: 900 !important;
}

.btn,
input {
  outline: 0;
  box-shadow: none !important;
}

input {
  &::placeholder {
    font-family: paragraphFont !important;
  }
}

.input_modal_border {
  border: $input_border !important;
  border-radius: 1.5rem !important;
}

.drg-n-drop {
  width: 100%;
  height: 400px;
  overflow: auto;
  background-color: #444;
  padding: 10px;
}

.child-drg-drop {
  width: 100%;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_gray {
  color: #000;
}

.text_bold {
  font-weight: 900;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.h-fill {
  height: -webkit-fill-available;
}

.current {
  background-color: #444;
  color: transparent;
}

.miror {
  transform: scaleX(-1);
}

.MuiInputLabel-outlined {
  transform: translate(-4px, 20px) scale(1);

  p {
    margin: 0 10px;
  }
}

.MuiInputLabel-formControl {
  right: 9px !important;
  left: auto !important;
}

.PrivateNotchedOutline-legendLabelled-3 {
  text-align: right !important;
}

.MuiInput-underline:after {
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  border-bottom: 2px solid #32c3e6 !important;
  pointer-events: none;
}

.MuiFormLabel-root.Mui-focused {
  color: #32c3e6 !important;
}

.MuiFilledInput-underline:after {
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  border-bottom: 2px solid #32c3e6 !important;
  pointer-events: none;
}

.hr {
  border-top: 2px solid #bcbcbc;
}

.text_style_box_14 {
  font-size: 14px;
  font-weight: 900;
  color: $gray_77777;
}

// scrollbar

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 204, 255);
  background: linear-gradient(
    180deg,
    rgba(0, 204, 255, 1) 0%,
    rgba(66, 217, 255, 1) 20%,
    rgba(92, 222, 255, 1) 40%,
    rgba(130, 230, 255, 1) 60%,
    rgba(189, 242, 255, 1) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  outline: transparent;
  border-radius: 5px;
}

.scroll_addpicture {
  height: calc(100vh - 230px);
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and(min-width:920px) {
  .container {
    max-width: 1279px !important;
  }
}

@media screen and (max-width: 375px) {
  .MuiSvgIcon-fontSizeLarge {
    font-size: 1.6875rem !important;
  }

  .fs_xs_14px {
    font-size: 14px;
  }
}

.MuiInputLabel-outlined {
  z-index: 1 !important;

  pointer-events: none !important;
}

.MuiInputLabel-formControl {
  right: 9px !important;
}

.PrivateNotchedOutline-legendLabelled-6 {
  text-align: right !important;
  direction: rtl !important;
}
::-webkit-scrollbar-thumb {
  background-color: red !important;
}
.disabled-style.col-12.col-md-3.complete-text.p-0.mb-2.mb-md-auto {
  opacity: 0.2 !important;
}

@media screen and (max-width: 1300px) {
  .style-word-component {
    width: 100% !important;
  }
}
@media screen and (min-width: 900px) {
  .style-word-component {
    width: 100% !important;
  }
  .box-answer {
    .style-answer-responsev {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row-reverse;
    }
  }
}
.btn_scrollTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: $perlingo !important;
  padding: 0.5rem !important;
  color: white !important;
  border-radius: 50% !important;
}

.MuiAutocomplete-option {
  direction: rtl !important;
}
fieldset legend {
  text-align: right !important;
}

li.breadcrumb-item a {
  color: #0cf;
}
.scroll_addpicture_neshan {
  height: calc(100vh - 360px);
  overflow-y: auto;
  overflow-x: hidden;
}