$colorMain: #fff;
$white: white;
$maingray: #e5e5e5;
$borderColor: #44444436;
$border_gray: #777777;
$purple: #ce82ff;
$colorText: #303030;
$editeIcon: #4caf50;
$closeIcon: #dc3545;
$colorLinkHead: #afafaf;
$hoverLinkHead: #00ccff;
$backgroundHover: rgba(255, 255, 255, 0.644);
$backcolorModal: rgba(0, 0, 0, 0.4);
$hoverEditIcon: #4caf4f60;
$text_gray: #ababab;
$perlingo: #00ccff;
$smooth_perlingo: #8be8ff;
$backtextarea: #f3f3f3;
$border_wordbank: #c1c1c1;
$gray_77777: #777777;
$color-dashboard: #5c5c5c;
