.chart-content {
  padding: 0;
  border: 1px solid;
  border: $border_box_level;
  border-radius: $border-radius-dashboard;
  margin-top: 20px;

  .text_dashboard_style {
    width: 100%;
    font-size: 21px;
    font-weight: 900;
    padding-top: 1.5rem !important;
  }
}
