.heade-dash-main {
  border: $border_box_level;
  border-radius: $border-radius-dashboard;
  padding: 10px;
  h3 {
    width: 100%;
    color: #3c3b3b;
    font-weight: 900;
    font-size: 21px;
    margin-top: 15px;
    padding: 0;
    margin-bottom: 25px;
  }
  .content-header {
    font-weight: 600;

    div {
      display: flex;
      justify-content: flex-start;
      p {
        width: 300px;
        text-align: right;
        color: $color-dashboard;
      }
      span {
        width: 156px;
        text-align: center;
      }
      &:nth-child(3) {
        width: 50%;

        span {
        }
      }
    }
  }
}
.sticymenu {
  position: sticky !important;
  top: 47px !important;
  height: fit-content;
}

@media screen and (max-width: 500px) {
  .content-header {
    padding: 0 !important;
    div {
      display: flex;
      justify-content: space-between;

      p {
        width: auto !important;
        text-align: right;
        color: $color-dashboard;
      }
      span {
        width: auto !important;
        text-align: center;
        margin-right: 13px;
      }
      &:nth-child(3) {
        width: 100% !important;

        span {
        }
      }
    }
  }
  .header-dash-content {
    display: flex;
    flex-wrap: wrap;
    padding: 10px !important;
    border: $borderSelect;
    border-radius: $border_radius_box;
    margin-bottom: 20px;
  }
}
