
.content-sidebar {
  display: flex;
  align-items: center;
  color: $color-dashboard;
  p {
    color: $color-dashboard;
    font-weight: 900;
  }
}
.chart-sidebar {
  display: flex;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .img-user {
    width: 50px;
    height: 50px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
  }
}
.side-bar-dashbord {
  border: $border_box_level;
  border-radius: $border-radius-dashboard;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.side-bar-parent {
  text-align: right;
  h3 {
    width: 100%;
    color: $color-dashboard;
    font-weight: 900;
    margin-top: 21px;
    color: #3c3b3b;
    font-weight: 900;
    font-size: 21px;
    margin-top: 15px;
    padding: 0;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 500px) {
  .dashboard-main {
    .menu-bar {
      margin-right: 1px;
    }
  }
}
// .MuiInputLabel-outlined {
//   z-index: 1;
//   transform: translate(-4px, 20px) scale(1) !important;
//   pointer-events: none;
// }

// .MuiInputLabel-formControl {
//   right: 9px;
// }
