.Wordbankpage {
  padding-top: 1rem !important;
  padding-bottom: 4rem !important;

  .btn_AddWord {
    border: 2px dashed #e5e5e5;
    width: 100%;
    margin-bottom: 24px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 50px;
    font-size: 16px !important;
  }

  .focus_lable {
    .MuiInputLabel-shrink {
      transform: translate(26px, 0px) scale(0.75) !important;
    }
  }

  .focus_lable_lan {
    .MuiInputLabel-shrink {
      transform: translate(20px, 0px) scale(0.75) !important;
    }
  }

  .add_img_box {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #e5e5e5;
    cursor: pointer;
    overflow: hidden;
  }

  .add_img_box:hover {
    opacity: 0.7;
  }

  .add_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .add_word_box {
    padding-right: 15px;
    padding-left: 15px;
    border: $border_wordbank;
    border-radius: $border_radius_box_wb;
  }

  .word_list_Box {
    padding-right: 15px;
    padding-left: 15px;
    border: $border_wordbank;
    border-radius: $border_radius_box_wb;

    .table-bordered td,
    .table-bordered th {
      border: 0;
      text-align: center;
    }

    thead tr:first-child {
      border-bottom: 1px solid;
    }

    .table tbody + thead {
      display: none;
    }

    .table td,
    .table th {
      vertical-align: middle !important;
      font-weight: 900;
    }

    .img_style {
      width: 70px;
      height: 70px;
    }
  }

  .MuiFilledInput-root {
    background-color: #fff !important;
  }

  .MuiFilledInput-root:hover {
    background-color: #fff !important;
  }

  .MuiInputBase-root {
    padding: 0 !important;
  }

  .MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-popupIndicator {
    display: none;
  }

  .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"]
    .MuiAutocomplete-endAdornment {
    right: 0;
  }

  .MuiInputLabel-formControl {
    float: right;
    left: inherit;
  }

  .MuiSelect-icon {
    right: -5px !important;
  }

  .MuiSelect-select.MuiSelect-select {
    font-family: "paragraphFont";
  }

  .flashcart_taginput .MuiInputBase-root {
    padding: 10px 0 !important;
  }

  .MuiAutocomplete-clearIndicator {
    margin-top: 0.65rem !important;
  }

  .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"]
    .MuiAutocomplete-input {
    padding: 0px 3px 3px !important;
    margin-right: 28px;
    margin-top: 17px;

    &::placeholder {
      font-size: 16px;
    }
  }

  .MuiAutocomplete-tag {
    position: relative;
    top: 10px;
    right: 28px;
  }

  .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated {
    font-family: "paragraphFont";
    position: absolute;
    right: 15px !important;
  }

  .selectLanguage {
    .MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu.MuiInputBase-input.MuiInput-input {
      text-align: right;
      position: relative;
      left: 15px;
    }

    .MuiSelect-icon {
      left: 0 !important;
      right: auto !important;
    }
  }
}

.pic_edit_word {
  .focus_lable {
    .MuiInputLabel-shrink {
      transform: translate(20px, 0px) scale(0.75) !important;
    }
  }

  .MuiSvgIcon-root.MuiSelect-icon {
    left: 0 !important;
    right: auto !important;
  }

  .focus_lable_lan {
    .MuiInputLabel-shrink {
      transform: translate(13px, 0px) scale(0.75) !important;
    }
  }

  .add_img_box {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #e5e5e5;
    cursor: pointer;
    overflow: hidden;
  }

  .add_img_box:hover {
    opacity: 0.7;
  }

  .add_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .add_word_box {
    padding-right: 15px;
    padding-left: 15px;
    border: $border_wordbank;
    border-radius: $border_radius_box_wb;
  }

  .MuiFilledInput-root {
    background-color: #fff !important;
  }

  .MuiFilledInput-root:hover {
    background-color: #fff !important;
  }

  .MuiInputBase-root {
    padding: 0 !important;
  }

  .MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-popupIndicator {
    display: none;
  }

  .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"]
    .MuiAutocomplete-endAdornment {
    right: 0;
  }

  .MuiInputLabel-formControl {
    float: right;
    left: inherit;
  }

  .MuiSelect-icon {
    right: -5px !important;
  }

  .MuiSelect-select.MuiSelect-select {
    font-family: "paragraphFont";
  }

  .flashcart_taginput .MuiInputBase-root {
    padding: 10px 0 !important;
  }

  .MuiAutocomplete-clearIndicator {
    margin-top: 0.65rem !important;
  }

  .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"]
    .MuiAutocomplete-input {
    padding: 0px 3px 3px !important;
    margin-right: 28px;
    margin-top: 17px;

    &::placeholder {
      font-size: 16px;
    }
  }

  .MuiAutocomplete-tag {
    position: relative;
    top: 10px;
    right: 28px;
  }

  .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated {
    font-family: "paragraphFont";
    position: absolute;
    right: 15px !important;
  }

  .selectLanguage {
    .MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu.MuiInputBase-input.MuiInput-input {
      text-align: right;
      position: relative;
      left: 15px;
    }

    .MuiSelect-icon {
      left: 0 !important;
      right: auto !important;
    }
  }
}

// .addword {
//     margin-top: 3rem !important;

//     .w-name {
//         .MuiFormControl-root {
//             border: 0;
//             margin: 0;
//             width: 320px;
//             display: inline-flex;
//             padding: 0;
//             position: relative;
//             min-width: 0;
//             flex-direction: column;
//             vertical-align: top;
//             margin-right: 2px;
//         }
//     }

//     .p-lan {
//         padding-right: 1.9rem !important;

//     }

//     .w-lan {
//         .MuiFormControl-root {
//             border: 0;
//             margin: 0;
//             width: 330px;
//             display: inline-flex;
//             padding: 0;
//             position: relative;
//             min-width: 0;
//             flex-direction: column;
//             vertical-align: top;
//         }
//     }

//     .add_img_box {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         width: 200px;
//         height: 200px;
//         border-radius: 15px;
//         border: 5px solid #e5e5e5;
//         cursor: pointer;
//     }

//     .add_img {
//         width: 100%;
//         height: 100%;
//         object-fit: contain;
//         border-radius: 10px;
//     }

//     .MuiFilledInput-root {
//         background-color: #fff !important;
//     }

//     .MuiFilledInput-root:hover {
//         background-color: #fff !important;
//     }

//     .MuiInputBase-root {
//         padding: 0 !important;
//     }

//     .MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-popupIndicator {
//         display: none;
//     }

//     .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"] .MuiAutocomplete-endAdornment {
//         right: 0;
//     }

//     .MuiInputLabel-formControl {
//         float: right;
//         left: inherit;
//     }

//     .MuiSelect-icon {
//         right: -5px !important;
//     }

//     .MuiSelect-select.MuiSelect-select {
//         font-family: 'paragraphFont';
//     }

//     .flashcart_taginput .MuiInputBase-root {
//         padding: 10px 0 !important;
//     }

//     .MuiAutocomplete-clearIndicator {
//         margin-top: 0.65rem !important;
//     }

//     .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"] .MuiAutocomplete-input {
//         padding: 0px 3px 3px !important;
//         margin-right: 28px;
//         margin-top: 17px;

//         &::placeholder {
//             font-size: 16px;
//         }
//     }

//     .MuiAutocomplete-tag {
//         position: relative;
//         top: 10px;
//         right: 28px;
//     }

//     .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated {
//         font-family: 'paragraphFont';
//         position: absolute;
//         right: 15px !important;
//     }

//     .selectLanguage {
//         .MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu.MuiInputBase-input.MuiInput-input {
//             text-align: right;
//             position: relative;
//             left: 15px;
//         }

//         .MuiSelect-icon {
//             left: 0 !important;
//             right: auto !important;
//         }
//     }

// }
