.Badge {
    input {
        font-family: paragraphFont;
    }
    .Color_registration {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0px;
        right: 15px;
        width: 30px;
        height: 30px;
        border-radius: 1px 6px 1px 10px;
        background-color: #28a745 !important;
    }
    .showcolor {
        width: 20px;
        height: 20px;
    }
    .add-class-style {
        width: 100% !important;
        border-radius: 5px;
    }
    .textarea {
        border: 4px solid #c1c1c1;
        border-radius: 10px;
        resize: none;
        outline: none;
        width: 100%;
        padding: 1rem 1rem 1rem 1rem;
    }
    .p_level_input {
        padding: 0px 6px 25px 6px;
    }
    .carts {
        .cart_box {
            border: 4px solid #c1c1c1;
            border-radius: $border_radius_box_wb;
            background-color: #fff;
            padding-left: 1.5rem !important;
            padding-right: 1.5rem !important;
            width: 100% !important;
            transition: background-color .8s, border .8s;
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
        }
        .cart_Edit {
            border: 4px solid #5ac186;
            background-color: #fcfffd;
            box-shadow: 1px 2px 6px #cfdcd4;
            border-radius: $border_radius_box_wb;
            padding-left: 1.5rem !important;
            padding-right: 1.5rem !important;
            width: 100% !important;
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
            transition: background-color .8s, border .8s;
        }
        // .openbox_badge {
        //   max-height: 300px !important;
        //   transition: all 2s;
        //   overflow: hidden;
        //   transition-delay: 0;
        // }
        // .closebox_badge {
        //   max-height: 0 !important;
        //   transition: all 2s;
        //   transition-delay: 0;
        //   overflow: hidden;
        // }
        //   {
        //     border: 4px solid #5ac186;
        //     background-color: #fcfffd;
        //     box-shadow: 1px 2px 6px #cfdcd4;
        // }
        .image_box {
            width: 150px;
            height: 150px;
            overflow: hidden;
            border-radius: 50%;
        }
        .image_box_level {
            width: 70px;
            height: 70px;
            overflow: hidden;
            border-radius: 50%;
        }
        .image_style {
            object-fit: scale-down;
            width: 100%;
            height: 100%;
        }
    }
    .create_badge {
        padding-right: 15px;
        padding-left: 15px;
        border: $border_wordbank;
        border-radius: $border_radius_box_wb;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    }
    .add_img_box {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 5px solid #e5e5e5;
        cursor: pointer;
        overflow: hidden;
    }
    .add_img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        border-radius: 10px;
    }
    .MuiInputLabel-shrink {
        transform: translate(20px, -7px) scale(0.75) !important;
    }
    .MuiFilledInput-root {
        background-color: #fff !important;
    }
    .MuiFilledInput-root:hover {
        background-color: #fff !important;
    }
    .MuiInputBase-root {
        padding: 0 !important;
    }
    .MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-popupIndicator {
        display: none;
    }
    .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"] .MuiAutocomplete-endAdornment {
        right: 0;
    }
    .MuiInputLabel-formControl {
        float: right;
        left: inherit;
    }
    .MuiSelect-icon {
        right: -5px !important;
    }
    .MuiSelect-select.MuiSelect-select {
        font-family: "paragraphFont";
    }
    .neshan_name {
        width: 100%;
        .MuiFormControl-root,
        .MuiTextField-root {
            width: 100% !important;
        }
    }
    .add_level {
        border: 2px dashed #e5e5e5;
        width: 100%;
        margin-bottom: 24px;
        font-size: 14px;
        font-weight: 900;
        color: #777777;
        padding: 0.5rem !important;
    }
    .selectLanguage {
        .MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu.MuiInputBase-input.MuiInput-input {
            text-align: right;
            position: relative;
            left: 15px;
        }
        .MuiSelect-icon {
            left: 0 !important;
            right: auto !important;
        }
    }
}