.blank-main {
  .MuiAutocomplete-root {
    .MuiFormControl-root {
      .MuiFilledInput-root {
        .MuiAutocomplete-input {
          text-overflow: clip !important;
        }
        input {
          text-overflow: clip !important;
        }
      }
    }
  }

  padding-top: 16px;
  .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"]
    .MuiAutocomplete-input {
    text-overflow: clip !important;
    padding: 18px 4px;
  }
  .MuiFilledInput-adornedStart {
    input {
      padding-top: 9px !important;
    }
  }
  p {
    font-weight: 900 !important;
  }
  .header-type {
    padding: 0 !important;
    .MuiInputBase-root {
      padding: 0;
      .MuiOutlinedInput-input {
        padding: 14px;
        label {
          margin-right: 20px;
          margin-top: -4px;
        }
      }
    }
    .MuiInputLabel-shrink {
      transform: translate(26px, -7px) scale(0.75) !important;
    }
    .MuiInputLabel-outlined {
      transform: translate(3px, 16px) scale(1);
    }
  }
  input {
    background-color: $colorMain;
  }
  .input-blank {
    width: 36%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    border-bottom: $border;
    p {
      margin: 0;
    }
    input {
      border: none;

      width: 300px;
      margin-right: 20px;
    }
  }
  .radio-style {
    display: flex;
    .MuiFormControlLabel-root {
      width: 98px;
      border-top: $borderText;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse;
      margin-left: 15px;
    }
  }
  .answer-main {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-end;
    .close-answer {
      width: 30px;
      height: 30px;
      cursor: pointer;

      .MuiSvgIcon-root {
        color: $closeIcon;
      }
    }

    .MuiInputBase-root {
      padding: 0;
    }
    input {
      margin-right: 5px;
    }
    .radio-answer {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:checked {
          background-color: #2196f3 !important;
        }
      }
      &:hover {
        input ~ .checkmark {
          background-color: #ccc;
          display: block;
        }
      }
      input:checked ~ .checkmark:after {
      }
      &::after {
        content: "";
        position: absolute;
        display: none;
      }
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
        &::after {
          display: block;
          top: 9px;
          left: 9px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: white;
        }
      }
    }
    .MuiTextField-root {
      width: 300px;
    }
  }

  button {
    background-color: none;
    border: none;
  }
  .MuiFormControl-root {
    // width: 462px;
  }

  .lang-main-question {
    height: 40px;
    margin-right: -244px;
    button {
      .btn-primary {
        &:active {
          background-color: $colorMain !important;
          color: $colorText !important;
          border: $border !important;
        }
      }
      color: $colorText;

      border: $border;
      &:hover {
        background-color: $hoverLinkHead !important;
        border: none !important;
      }
      &:active {
        border: none !important;
      }
      &:focus {
        border: none !important;
      }
      &:nth-child(1) {
        border-radius: 0 10px 10px 0 !important;
      }
      &:nth-child(2) {
        border-radius: 10px 0 0 10px !important;
      }
    }
  }
  .reuseble-add-world {
    .MuiAutocomplete-endAdornment {
      right: -20px;
    }
    .add-answer {
      position: absolute;
      left: "0";
      z-index: "2";
    }
  }
}
.btn-primary {
  &:active {
    background-color: $colorMain !important;
    color: $colorText !important;
    border: $border !important;
  }
}
.btn-primary {
  background-color: $colorMain !important;
}
.aotu-blank-content {
  //////////////////////////////////////////////////
  text-align: center !important;

  .MuiAutocomplete-endAdornment {
    display: none;
    background-color: transparent !important;
  }
  .MuiFilledInput-root {
    padding: 0 !important;
    padding-right: 24px !important;
  }
  .MuiFilledInput-underline:before {
    border: none;
  }
  .MuiFilledInput-underline:after {
    border: none !important;
  }
  .MuiAutocomplete-hasPopupIcon {
    background-color: $colorMain !important;
  }
  .MuiAutocomplete-tag {
    width: 110px;
    background-color: transparent;
    margin-left: 20px;
  }
  .MuiFilledInput-root {
    background-color: transparent;
    &:hover {
      background-color: transparent;
      border: none;
    }
  }
  .Mui-focused {
    background-color: transparent !important;
    border: none;
  }
  .MuiFilledInput-underline {
    &:after {
      border-bottom: none;
    }
  }
  .MuiFilledInput-underline {
    &:before {
      border-bottom: none;
      content: none;
    }
  }
  .MuiAutocomplete-tag {
    direction: ltr;
  }
  .MuiFormControl-root {
    width: 100%;
  }
  .input-radio-submit-word,
  .MuiChip-iconSmall {
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 35px;
    border-top: 1px solid;
    padding-top: 10px;
    position: absolute;
  }
  fieldset {
    border-top: $border;
    width: 70px;
    top: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 110px !important;
    padding-top: 10px;

    .MuiFormControlLabel-root {
      margin: 0;
    }
  }
  .MuiChip-root {
    border: none;
    width: 110px;
    margin-right: 20px;
    margin-bottom: 28px;
    position: relative !important;
    margin-top: 19px;
  }
  .MuiInputBase-input {
    border-bottom: $border;
    &::placeholder {
      opacity: 1;
      border-bottom: $border !important;
      width: 80px !important;

      padding: 20px !important;
    }
    &::-ms-input-placeholder {
      border-bottom: $border;
    }
    &::-moz-placeholder {
      border-bottom: $border;
    }
  }
  input {
    &::placeholder {
      border-bottom: $border !important;
    }
  }
}

@media screen and (max-width: 720px) {
  .input-blank,
  .blank-main {
    width: 100% !important;
    padding: 0 !important;
    .MuiFormControl-root {
      width: 100% !important;
      margin-right: 0;
      label {
        font-family: paragraphFont;
        font-weight: 700;
      }
    }
  }
  .answer-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    input {
      margin-right: 5px;
    }
  }
}
.MuiFilledInput-outline {
  border: none !important;
}

.radio {
  font-size: 1.25rem;
  color: var(--color);
}
.radio {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  &:focus {
    color: red;
  }
  &:active {
    color: red;
  }
  &:focus-within {
    color: $hoverLinkHead;
    .radio__label {
      transform: scale(1.05);
      opacity: 1;
      color: $hoverLinkHead;
    }
  }
}
.radio__input {
  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .radio__control {
      background: radial-gradient(currentcolor 50%, $colorMain 51%);
    }
    &:focus + .radio__control {
      color: $hoverLinkHead;
    }
  }
}
.radio__control {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid currentColor;
  transform: translateY(-0.05em);
}
.radio__input {
  display: flex;
}
.radio__label {
  line-height: 1;
  transition: 180ms all ease-in-out;
  opacity: 0.8;
}
.radio__control {
  display: grid;
  place-items: center;
}
input + .radio__control::before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  box-shadow: inset 0.5em 0.5em currentColor;
  border-radius: 50%;
  transition: 180ms transform ease-in-out;
  transform: scale(0);
}

.Wordbank
  .title_word
  .MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiAutocomplete-inputRoot.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiFilledInput-adornedEnd,
.type-blank-type
  .title_word
  .MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiAutocomplete-inputRoot.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiFilledInput-adornedEnd {
  padding: 1rem !important;
}
.type-blank-type {
  .MuiAutocomplete-endAdornment {
    position: relative;
    left: 0 !important;
  }
}
@media screen and (max-width: 420px) {
  .reuseble-add-world {
    .MuiAutocomplete-endAdornment {
      right: -20px;
    }
    .add-answer {
      position: relative !important;
      left: "0";
      z-index: "2";
    }
  }
}
@media screen and (max-width: 720px) {
  .blank-main {
    .MuiAutocomplete-root {
      padding: 0 !important;
    }
  }
}
.question {
  .add-class-style {
    width: 100% !important;
    border-radius: 5px;
  }
}
.add-class-style-button-add {
  border: $dashed_border !important;
  width: 36%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 50px;
}
