.div-like-textarea {
  width: 100%;
  height: 250px;
  border-radius: $border_radius_box;
  background-color: $backtextarea;
  border: $input_border;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .aotu-blank-content {
    margin-top: 20px;
    .MuiAutocomplete-hasPopupIcon,
    .MuiAutocomplete-root,
    .MuiInputBase-root,
    .MuiAutocomplete-input {
      background-color: transparent !important;
    }
    .MuiInputBase-root {
      padding: 0 !important;
    }
  }

  .MuiAutocomplete-input {
    text-overflow: clip !important;
  }
}
.style-lang {
  position: absolute;

  left: 0;
  z-index: 2;
  top: 19px;
}
.MuiFilledInput-adornedStart {
  input {
    padding: 9px !important;
  }
}
.reuseble-add-world {
  .input {
    &::placeholder {
      color: #000 !important;
      opacity: 1 !important;
    }
  }

  .MuiTextField-root {
    width: 100% !important;
  }

  .flashcart_taginput_fa .MuiInputBase-root {
    padding: 0 !important;
  }
}
.type-blank-type {
  .correct_awnser {
    .correct {
      .MuiAutocomplete-root {
        .MuiFormControl-root {
          .MuiInputBase-root {
            input {
              &::placeholder {
                opacity: 1;
              }
            }
          }
        }
      }
      .MuiFilledInput-underline {
        &:before {
          border-bottom: $border !important;
        }
      }
    }
    .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"]
      .MuiAutocomplete-input {
      padding: 7px !important;
    }
  }
  .MuiAutocomplete-endAdornment {
    left: 0px !important;
  }
}
.correct_awnser {
  .MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiAutocomplete-inputRoot.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiFilledInput-adornedEnd {
    padding: 0.5rem !important;
    background-color: transparent;
    border-radius: 5px;
    padding-right: 1.8rem !important;
  }
}
// .header-type {
//   .MuiFormControl-root {
//     width: 400px !important;
//   }

//   margin-bottom: 20px;
// }
.header-type {
  .MuiFormControl-root {
    width: 40% !important;
  }

  margin-bottom: 20px;
}
.type-blank-type {
}

@media screen and (max-width: 420px) {
  .header-type {
    .MuiFormControl-root {
      width: 100% !important;
    }

    margin-bottom: 20px;
  }
  .style-language {
    position: relative;
    right: 0;
  }
}
.style-language {
  position: absolute;
  left: 0px;
  bottom: 7px !important;
}
