.flashcart_box {
  position: relative;
  border: $border_box;
  border-radius: $flashcard_radius;
  width: 200px;
  height: 200px;
  text-align: center;
}

.add_flashcart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: $maingray;
  border-radius: $flashcard_radius;
  border: $border_box;
  cursor: pointer;
}

.flashcart_img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border: $border_box;
  border-radius: $border_radius_circle;
  width: 30px;
  height: 30px;
}

.MuiChip-deleteIcon {
  margin: 0 !important;
}

.MuiInputBase-root {
  padding-bottom: 1rem;
}

.MuiSelect-select:focus {
  border-radius: 0;
  background-color: transparent !important;
}

.border_bottom_tagInput {
  position: relative;
  bottom: 2px;
  border-bottom: 1px solid #949494;
}

.flashcart_taginput_fa {
  .MuiAutocomplete-tag {
    margin: 5px !important;
  }

  .MuiFilledInput-root {
    background-color: #fff !important;
  }

  .MuiFilledInput-root:hover {
    background-color: #fff !important;
  }

  .MuiInputBase-root {
    padding: 0 !important;
    padding-right: 25px !important;
  }

  .MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-popupIndicator {
    display: none;
  }

  .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"]
    .MuiAutocomplete-endAdornment {
    right: 0;
    left: auto;
  }

  .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"]
    .MuiAutocomplete-input {
    padding: 10px 0px;
  }
}

.flashcart_taginput_en {
  .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"]
    .MuiAutocomplete-input {
    padding: 10px 0px;
  }

  .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"]
    .MuiAutocomplete-endAdornment {
    right: auto;
    left: 67px;
  }

  .MuiAutocomplete-tag {
    margin: 5px !important;
    text-align: left;
  }

  .MuiFilledInput-root {
    background-color: #fff !important;
    direction: ltr;
  }

  .MuiFilledInput-root:hover {
    background-color: #fff !important;
  }

  .MuiInputBase-root {
    padding: 0 !important;
    padding-left: 106px !important;
  }

  .MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-popupIndicator {
    display: none;
  }

  .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"]
    .MuiAutocomplete-input {
    text-align: left !important;
  }
}

.languages_en {
  position: absolute;
  z-index: 1;
  left: 20px;
  // .MuiAutocomplete-option {
  //   direction: ltr !important;
  //   background-color: blue !important;
  // }
}

// .MuiAutocomplete-option {
//   direction: rtl !important;
// }
// .MuiAutocomplete-option {
//   direction: ltr !important;
// }

.languages_fa {
  position: absolute;
  z-index: 1;
  left: 20px;
}

.placeholder_style {
  input::placeholder {
    font-size: 18px;
    font-family: paragraphFont !important;
  }
}

.delete_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -4px;
  right: -4px;
  width: 30px;
  height: 30px;
  border-radius: 3px 12px 3px 12px;
  background-color: #dc3545;
}

.title_of_questions {
  padding: 0;
  text-align: right;
  margin-bottom: 30px;

  .MuiFilledInput-root {
    background-color: #fff !important;
  }

  .MuiFilledInput-root:hover {
    background-color: #fff !important;
  }

  .MuiFormControl-root {
    width: 40%;
  }

  .MuiInputLabel-filled {
    z-index: 1;
    transform: translate(12px, 20px) scale(1);
    pointer-events: none;
    font-weight: 900;
  }

  .MuiInputLabel-shrink {
    transform: translate(26px, -7px) scale(0.75) !important;
  }
}

@media screen and (max-width: 720px) {
  .languages {
    position: absolute;
    z-index: 1;
    left: 50%;
    right: 50%;
    top: 80%;
  }
}

@media screen and (max-width: 500px) {
  .title_of_questions {
    .MuiFormControl-root .MuiInputLabel-shrink {
      transform: translate(26px, -7px) scale(0.75) !important;
    }
  }
}

@media screen and (max-width: 992px) {
  .title_of_questions {
    padding: 0;
    text-align: right;
    margin-bottom: 30px;

    .MuiFilledInput-root {
      background-color: #fff !important;
    }

    .MuiFilledInput-root:hover {
      background-color: #fff !important;
    }

    .MuiFormControl-root {
      width: 100% !important;
    }

    .MuiInputLabel-filled {
      z-index: 1;
      transform: translate(12px, 20px) scale(1);
      pointer-events: none;
      font-weight: 900;
    }

    .MuiInputLabel-shrink {
      transform: translate(26px, -7px) scale(0.75) !important;
    }
  }
}

@media screen and (max-width: 850px) {
  .languages_fa {
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 50%;
    right: 50%;
  }
  .flashcart_taginput_en {
    .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"]
      .MuiAutocomplete-endAdornment {
      right: auto;
      left: -12px;
    }
    .MuiInputBase-root {
      padding: 0 !important;
      padding-left: 30px !important;
    }
  }

  .languages_en {
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 50% !important;
    right: 50%;
  }
}

@media screen and (max-width: 500px) {
  .languages_fa {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    right: 50%;
  }

  .languages_en {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    right: 50%;
  }
}
.MuiAutocomplete-endAdornment {
  //===> this class shold be conditional inm change lang
  margin-left: 14px;
}
.languages_en {
  position: absolute;
  z-index: 1;
  left: 20px;
}
.languages_en .MuiAutocomplete-option {
  direction: ltr !important;
  background-color: blue !important;
}

.outline-none.h-fill {
  .MuiAutocomplete-option {
    direction: ltr !important;
  }
}

.ltrClass {
  direction: ltr;
}
