.footer-qiuestion-main {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  .header-question {
    width: 100%;
    position: relative;
    border-bottom: $borderText;

    h3 {
      display: table-footer-group;
      background-color: $colorMain;
      color: #000000ec;
      width: 223px;
      position: absolute;
      top: -17px;
      text-align: right;
    }
  }
  .MuiFormControl-fullWidth {
    width: 100%;
  }
  .MuiAutocomplete-hasPopupIcon {
    display: flex;
  }

  .MuiFilledInput-underline:before {
    border-bottom: 0 !important;
  }
  .MuiInputBase-root {
    border: $border !important;
    background-color: $colorMain;
    border-radius: $border_radius_box;
    display: flex;
  }
  .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"] {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .MuiAutocomplete-endAdornment {
    left: 0 !important;
    display: none;
  }
  .MuiFormGroup-root {
    flex-direction: row !important;
  }
  .autocomplete-footer {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
    label {
      transform: translate(1px, 15px) scale(1);
    }
    .MuiInputLabel-shrink {
      transform: translate(32px, -6px) scale(0.7);
    }
  }
  .checked-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    .MuiCheckbox-colorPrimary,
    .MuiIconButton-colorSecondary {
      border-color: #444 !important;
      padding: 0;
      padding-left: 10px;
      .Mui-checked,
      .MuiRadio-colorSecondary.Mui-checked {
        color: $hoverLinkHead !important;
      }
    }
    .MuiIconButton-colorSecondary {
      color: red !important;
    }
  }
  .radio-box {
    .MuiFormControl-root {
      .MuiFormGroup-root {
        p {
          margin-bottom: 6px;
        }
      }
    }
  }
}
.complete-text {
  width: 32%;
  float: right;
  text-align: right;
  .MuiAutocomplete-root {
    padding-left: 0 !important;
    .MuiFormControl-root {
      .MuiInputBase-root {
        border: none !important;
        padding-left: 0 !important;
        padding-right: 5px !important;
      }
    }
  }
}
.header-question-main {
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .type-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    p {
      margin: 0;
      font-weight: 800;
    }
    .select {
      position: relative;
      border: $border;
      border-radius: $border_radius_box;
      height: 48px;
      font-weight: 600;
    }
    .MuiSvgIcon-root {
      background-color: $colorMain;
      position: absolute !important;
      left: 18px;
      width: 50px;
      height: 18px;
      border-right: $border;
    }
  }
  .icon-question {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .MuiSvgIcon-root {
      color: $colorText;
    }
  }
}

.PrivateRadioButtonIcon-layer-6,
.Mui-checked {
  color: $hoverLinkHead !important;
}
.MuiFormControlLabel-label {
  font-family: paragraphFont !important;
}

@media screen and (max-width: 720px) {
  .header-question {
    width: 100%;
    h3 {
      padding-top: 10px;
      width: 100% !important;
      border-top: 1px solid #444;
    }
  }
  .radio-box {
    p {
    }
    p,
    label {
      width: 100% !important;
    }
  }
  .main-question {
    width: 100% !important;
  }
  .header-question-main {
    flex-direction: column-reverse;
    height: auto;
    border-bottom: none;
    .MuiSvgIcon-root {
      top: 70px;
    }
  }
  .type-question {
    flex-direction: column;
    height: auto !important;
    margin-bottom: 50px;
    p {
      width: 100% !important;
      text-align: right;
      margin-bottom: 10px !important;
      margin-top: 30px !important;
    }
  }
  .autocomplete-footer {
    width: 95% !important;
  }
}

.active-lang {
  background-color: $hoverLinkHead !important;
  color: $colorMain !important;
  font-weight: 800;
}
.main-question {
}
@media screen and (max-width: 720px) {
  .main-question {
    width: 95% !important;
  }
  .icon-question {
    justify-content: space-between !important;
    flex-direction: row-reverse !important;
  }
  .select {
    padding: 12px !important;
    height: 48px !important;
  }
  .type-question {
    display: block !important;
    .MuiSvgIcon-root {
      height: 30px !important;
    }
  }
}
@media screen and (max-width: 780px) {
}
