.Match {
    padding-top: 1rem!important;
    padding-bottom: 4rem!important;

    .add_box_answer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $maingray;
        width: 180px;
        height: 90px;
        border-radius: 10px;
        cursor: pointer;
    }

    .add_box_question {
        display: flex;
        justify-content: center;
        background-color: $maingray;
        align-items: center;
        width: 180px;
        height: 90px;
        border-radius: 10px;
        cursor: pointer;
    }

    .box_answer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 90px;
        border: 1px solid #5a5a5a;
        border-radius: 10px;
        cursor: pointer;
    }

    .box_question {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 90px;
        border: 1px solid #5a5a5a;
        border-radius: 10px;
        cursor: pointer;
    }

    .MuiAutocomplete-root.MuiAutocomplete-hasClearIcon.MuiAutocomplete-hasPopupIcon {
        width: 190px;
        max-width: 190px;
    }

    .MuiChip-root.MuiAutocomplete-tag.MuiChip-deletable {
        width: 190px;
        max-width: 190px;
        height: 90px;
        max-height: 90px;
        font-size: 20px;
        background-color: white;
        border: 1px solid #5a5a5a;

    }

    .MuiAutocomplete-endAdornment {
        top: auto;
        right: 0;
        position: absolute;
        bottom: 20px;
    }

    .MuiChip-label {
        padding: 25px !important;
    }

    .MuiAutocomplete-inputRoot[class*="MuiInput-root"] .MuiAutocomplete-input {
        padding: 25px 50px 25px 50px;
    }

    .MuiAutocomplete-inputRoot[class*="MuiInput-root"] .MuiAutocomplete-input:first-child {
        padding: 25px 50px 25px 50px;
    }

    @media screen and(max-width:992px) {
        .MuiChip-root.MuiAutocomplete-tag.MuiChip-deletable {
            width: 140px;
            max-width: 190px;
            height: 90px;
            max-height: 90px;
            font-size: 20px;
            background-color: white;
            border: 1px solid #5a5a5a;
    
        }
      }
}