.main-question {
  border: $input_border;
  border-radius: $border_radius_box;
  padding: 10px;
  margin-bottom: 4.5rem !important;
  margin-top: 30px;

  .loading-img {
    width: 50px;
    height: 50px;

    .style_lds-ellipsis__1poXh {
      width: 100% !important;
      height: 100% !important;

      div {
        background-color: #dfdfdf !important;
      }
    }
  }
}

.header-question-main {
  border-bottom: $border;

  .loading-img {
    .style_lds-ellipsis__1poXh {
      div {
        background-color: #407700 !important;
      }
    }
  }
}

.breadcrumb-item {
  margin-right: 10px;

  &:before {
    content: " > " !important;

    font-size: 20px;
    font-weight: 700;
  }

  &:nth-child(1) {
    &::after {
      content: " > " !important;

      font-size: 20px;
      font-weight: 700;
    }

    &:before {
      content: "" !important;
    }
  }

  .active {
    &:before {
      background-color: aqua !important;
    }
  }
}

.breadcrumb {
  background-color: transparent !important;
  padding: 29px 0px 5px 20px !important;
}

.add-div-answer {
  width: 34%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  padding: 0 !important;

  .form-check {
    margin-left: 3px;
    margin-right: 20px;
  }

  .close-answer {
    margin-left: 20px;
  }

  .MuiInputLabel-shrink {
    transform: translate(26px, -7px) scale(0.75) !important;
  }

  .MuiInputLabel-outlined {
    transform: translate(9px, 14px) scale(1);
  }

  button {
    background-color: transparent;
    margin: 30px 0;
    font-family: paragraphFont !important;

    span {
      font-weight: 800;
    }
  }
}

.chose-main {
  display: flex;
  align-items: center;
  border: $borderAddBorder;
  border-radius: $border_radius_box;
  padding: 0 !important;
  padding-right: 10px !important;
  height: 34px;
  position: relative;
  justify-content: center;
  width: 120px;
  padding: 20px !important;
  color: #000;

  .text_gray {
    color: #000 !important;
  }

  .MuiSvgIcon-root {
    position: absolute;
    left: 0;
    width: 40px;
    border-right: $border;
    height: 80%;
  }

  select {
    width: 89px;
    margin-right: 20px;
    height: 100%;
    border: none;
    border-right: $border;
    padding-right: 10px;
  }

  .text_bold {
    font-size: 13px;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

select {
  &:focus {
    outline-offset: none !important;
  }
}

select:focus-visible {
  outline: none;
}

.place-holder {
}

.MuiInputBase-input {
  color: #000 !important;

  p {
    color: #000 !important;
  }
}

.box-answer {
  display: flex;

  padding: 0 !important;
}

.classTest {
  cursor: no-drop;
  color: $text_gray !important;
}

@media screen and (max-width: 420px) {
  .add-div-answer {
    width: auto !important;
  }
}

@media screen and (max-width: 600px) {
  .type-main {
    .title_word,
    .type-blank-type .title_word {
      min-width: 300px !important;
      margin-top: 10px;
    }
  }
  .breadcrumb {
    font-size: 15px;
  }
}

@media screen and (max-width: 400px) {
  .main-question {
    width: 100% !important;
  }

  .breadcrumb {
    padding: 10px !important;
    padding-top: 50px !important;
    padding-top: 16px !important;
  }
  .correct {
    width: 81%;
    margin-right: 16px;
  }
  .type-main {
    .title_word,
    .type-blank-type .title_word {
      min-width: 300px !important;
      margin-top: 10px;
    }
  }
}

.type-main {
  .ReactModal__Overlay {
    z-index: 3000000000;
  }

  input {
    text-align: right !important;
  }
}

.correct_awnser {
  padding: 0 !important;
}

.ReactModal__Overlay {
  z-index: 100000;
}

.ReactModal__Content {
  text-align: right;
}
@media screen and (max-width: 420px) {
  .chose-main {
    width: 100%;
    margin-top: 10px;
  }
  .box-answer {
    display: block !important;
  }
}
@media screen and (max-width: 720px) {
  .text_bold {
    text-align: right;
    font-size: 15px;
  }
  .breadcrumb-item {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
  }
}
