.question {
  padding-left: 0 !important;
  padding-right: 0 !important;
  // padding-right: 13px !important;
  padding-bottom: 3rem !important;

  .question_box {
    border: 2px solid #9b9b9b;
    border-radius: 6px;
    padding: 10px;
    width: 100% !important;
    margin-top: 30px;
  }

  .text_gray_q {
    color: #0000008a;
  }

  .image_box {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
  }

  .image_style {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .textStyle {
    line-height: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 420px) {
  .question {
    padding-right: 3px !important;
  }
}

@media screen and (max-width: 420px) {
  .question {
  }
}
