.Speaking {
    padding-top: 1rem !important;
    padding-bottom: 4rem !important;

    .add_img_box {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 5px solid $maingray;
        cursor: pointer;
        overflow: hidden;
    }

    .add_img_box:hover {
        opacity: 0.7;
    }

    .images {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .mosalas {
        width: 0px;
        height: 0px;
        border-top: 20px solid transparent;
        border-left: 30px solid #e5e5e5;
        border-bottom: 20px solid transparent;
    }

    .title_word {
        min-width: 350px;
        min-height: "90PX";
        border-radius: 10px;
        border: 5px solid $maingray;

        .MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiAutocomplete-inputRoot.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiFilledInput-adornedEnd {
            padding: 1.35rem !important;
            background-color: transparent;
            border-radius: 5px;
            padding-right: 1.8rem !important;
        }

        .MuiFilledInput-underline:before {
            left: 0;
            right: 0;
            bottom: 0;
            content: "\00a0";
            position: absolute;
            // transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            // /* border-bottom: 1px solid rgba(0, 0, 0, 0.42); */
            border: 0 !important;
            pointer-events: none;
        }

        button.MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-popupIndicator {
            display: none;
        }

        .MuiChip-outlined {
            border-radius: 0px;
            background-color: transparent;
            border-bottom: 1px dashed #353535 !important;
            border: none;
        }

        .Speaking_taginput_fa {
            .MuiAutocomplete-tag {
                margin: 5px !important;
            }

            .MuiFilledInput-root {
                background-color: #fff !important;
            }

            .MuiFilledInput-root:hover {
                background-color: #fff !important;
            }

            .MuiInputBase-root {
                padding: 0 !important;
                padding-right: 25px !important;
            }

            .MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-popupIndicator {
                display: none;
            }

            .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"] .MuiAutocomplete-endAdornment {
                right: 0;
                left: auto;
            }
        }

        .Speaking_taginput_en {
            .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"] .MuiAutocomplete-endAdornment {
                right: auto;
                left: 0;
            }

            .MuiAutocomplete-tag {
                margin: 5px !important;
                text-align: left;
            }

            .MuiFilledInput-root {
                background-color: #fff !important;
                direction: ltr;
            }

            .MuiFilledInput-root:hover {
                background-color: #fff !important;
            }

            .MuiInputBase-root {
                padding: 0 !important;
                padding-left: 25px !important;
            }

            .MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-popupIndicator {
                display: none;
            }

            .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"] .MuiAutocomplete-input {
                text-align: left !important;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .Speaking .title_word {
        min-width: 110%;
    
    }
}