.main-change-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.main-change-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 2px solid #757575;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.main-change-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.main-change-radio input:checked ~ .checkmark {
  background-color: #fff;
  border: 2px solid $hoverLinkHead;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.main-change-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.main-change-radio .checkmark:after {
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  background: $hoverLinkHead;
}
.disabled-style {
  .MuiInputBase-root {
    color: rgb(187, 0, 0) !important;
    border: rgb(151, 151, 151) !important;

    width: 100%;
    input {
      &:disabled {
        color: red !important;
      }
      color: rgb(209, 0, 0) !important;
      &::placeholder {
        color: rgb(209, 0, 0) !important;
        border: rgb(151, 151, 151) !important;
      }
    }
  }
  label {
    color: red !important;
  }
}
.style-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  p {
    margin: 0;
    font-size: 10px;
    margin-right: 10px;
  }
}
.style-gif {
  width: 20px;
  height: 20px;

  img {
    width: 100%;
    height: 100%;
  }
}

.box-answer {
  .style-text {
    position: absolute;
    left: 22px !important;
  }
}

@media screen and (max-width: 420px) {
  .style-language {
    position: relative;
    top: 14px;
  }
}

.MuiAutocomplete-option {
  direction: rtl !important;
}
