.Wordbank,
.type-blank-type {
  padding-top: 1rem !important;
  padding-bottom: 4rem !important;
  .add_img_box {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid $maingray;
    cursor: pointer;
    overflow: hidden;
  }
  .add_img_box:hover {
    opacity: 0.7;
  }
  .images {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .mosalas {
    width: 0px;
    height: 0px;
    border-top: 20px solid transparent;
    border-left: 30px solid #e5e5e5;
    border-bottom: 20px solid transparent;
  }
  .title_word {
    min-width: 350px;
    min-height: "90PX";
    border-radius: 10px;
    border: 5px solid $maingray;
    .MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiAutocomplete-inputRoot.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiFilledInput-adornedEnd {
      padding: 1.35rem !important;
      background-color: transparent;
      border-radius: 5px;
      padding-right: 1.8rem !important;
    }
    .MuiFilledInput-underline:before {
      left: 0;
      right: 0;
      bottom: 0;
      content: "\00a0";
      position: absolute;
      // transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      // /* border-bottom: 1px solid rgba(0, 0, 0, 0.42); */
      border: 0 !important;
      pointer-events: none;
    }
    button.MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-popupIndicator {
      display: none;
    }
    .MuiChip-outlined {
      border-radius: 0px;
      background-color: transparent;
      border-bottom: 1px dashed #353535 !important;
      border: none;
    }
    .wordbank_taginput_fa {
      .MuiAutocomplete-tag {
        margin: 5px !important;
      }
      .MuiFilledInput-root {
        background-color: #fff !important;
      }
      .MuiFilledInput-root:hover {
        background-color: #fff !important;
      }
      .MuiInputBase-root {
        padding: 0 !important;
        padding-right: 25px !important;
      }
      .MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-popupIndicator {
        display: none;
      }
      .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"]
        .MuiAutocomplete-endAdornment {
        right: 5px;
        left: auto;
      }
    }
    .wordbank_taginput_en {
      direction: ltr;
      .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"]
        .MuiAutocomplete-endAdornment {
        right: auto;
        left: -23px;
      }
      .MuiAutocomplete-tag {
        margin: 5px !important;
        text-align: left;
      }
      .MuiFilledInput-root {
        background-color: #fff !important;
        direction: ltr;
      }
      .MuiFilledInput-root:hover {
        background-color: #fff !important;
      }
      .MuiInputBase-root {
        padding: 0 !important;
        padding-left: 25px !important;
      }
      .MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-popupIndicator {
        display: none;
      }
      .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"]
        .MuiAutocomplete-input {
        text-align: left !important;
      }
    }
  }
  .correct_awnser {
    .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"]
      .MuiAutocomplete-endAdornment {
      right: -25px !important;
    }
    .MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiAutocomplete-inputRoot.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiFilledInput-adornedEnd {
      padding: 0.5rem !important;
      background-color: transparent;
      border-radius: 5px;
      padding-right: 0 !important;
    }
    .MuiFilledInput-underline:before {
      left: 0;
      right: 0;
      bottom: 0;
      content: "\00a0";
      position: absolute;
      // transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      // /* border-bottom: 1px solid rgba(0, 0, 0, 0.42); */
      border: 0 !important;
      pointer-events: none;
    }
    button.MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-popupIndicator {
      display: none;
    }
    .MuiChip-outlined {
      border-radius: 0px;
      background-color: transparent;
      border: 2px solid #e5e5e5 !important;
      border-radius: 7px;
      padding: 10px;
    }
  }



  .Wordsuggest {
    .MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiAutocomplete-inputRoot.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiFilledInput-adornedEnd {
      padding: 0.5rem !important;
      background-color: transparent;
      border-radius: 5px;
      padding-right: 0 !important;
    }
    .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"]
      .MuiAutocomplete-endAdornment {
      right: -25px !important;
    }
    .MuiFilledInput-underline:before {
      left: 0;
      right: 0;
      bottom: 0;
      content: "\00a0";
      position: absolute;
      // transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      // /* border-bottom: 1px solid rgba(0, 0, 0, 0.42); */
      border: 0 !important;
      pointer-events: none;
    }
    button.MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-popupIndicator {
      display: none;
    }
    .MuiChip-outlined {
      border-radius: 0px;
      background-color: transparent;
      border: 2px solid #e5e5e5 !important;
      border-radius: 7px;
      padding: 10px;
    }
  }
}

.Wordsuggest input {
  margin-top: -2px;
  padding-top: 19px !important;
  padding-bottom: 19px !important;
}

.correct_awnser input {
  padding-top: 16px !important;
}

.Wordbank .correct_awnser .MuiFilledInput-underline:after {
  bottom: -3px;
}

.Wordsuggest .MuiFilledInput-underline:after {
  bottom: -1px;
}

.type-blank-type {
  .MuiFormControl-root {
    width: 100% !important;
  }
}

.wordbank_taginput {
  .wordbank_taginput_fa {
    .MuiAutocomplete-tag {
      margin: 5px !important;
    }
    .MuiFilledInput-root {
      background-color: #fff !important;
    }
    .MuiFilledInput-root:hover {
      background-color: #fff !important;
    }
    .MuiInputBase-root {
      padding: 0 !important;
      padding-right: 25px !important;
    }
    .MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-popupIndicator {
      display: none;
    }
    .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"]
      .MuiAutocomplete-endAdornment {
      right: 0;
      left: auto;
    }
  }
  .wordbank_taginput_en {
    direction: ltr;
    .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"]
      .MuiAutocomplete-endAdornment {
      right: auto;
      left: -15px;
    }
    .MuiAutocomplete-tag {
      margin: 5px !important;
      text-align: left;
    }
    .MuiFilledInput-root {
      background-color: #fff !important;
      // direction: ltr;
    }
    .MuiFilledInput-root:hover {
      background-color: #fff !important;
    }
    .MuiInputBase-root {
      padding: 0 !important;
      padding-left: 25px !important;
    }
    .MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-popupIndicator {
      display: none;
    }
    .MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"]
      .MuiAutocomplete-input {
      text-align: left !important;
    }
  }
}

.correct {
  .placeholder_style_correct {
    input::placeholder {
      font-size: 18px;
      font-family: paragraphFont !important;
    }
  }
}

.Wordbank_Modal {
  .img_box {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 170px;
    border-radius: 55px;
    cursor: pointer;
    .images {
      width: 100px;
      height: 150px;
      object-fit: contain;
    }
  }
  .delete_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 30px;
    z-index: 1;
    width: 30px;
    height: 30px;
    border-radius: 12px 12px 12px 12px;
    background-color: #dc3545;
  }
}

.title_word {
  min-width: 350px;
  min-height: "90PX";
  border-radius: 10px;
  border: 5px solid $maingray;
  .MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiAutocomplete-inputRoot.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiFilledInput-adornedEnd {
    padding: 1.35rem !important;
    background-color: transparent;
    border-radius: 5px;
    padding-right: 1.8rem !important;
  }
}

.beforeEnter {
  .MuiFilledInput-underline {
    &:after {
      border-color: red !important;
    }
  }
}

.afterEnter {
  .MuiFilledInput-underline {
    &:after {
      border-color: $hoverLinkHead !important;
    }
  }
}



.Wordbank .correct_awnser .MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiAutocomplete-inputRoot.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiFilledInput-adornedEnd, .type-blank-type .correct_awnser .MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiAutocomplete-inputRoot.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiFilledInput-adornedEnd {
  border-top: 2px solid #ccc;
  border-radius: 0;
  border-bottom: 2px solid #ccc;
}

.Wordbank .Wordsuggest .MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiAutocomplete-inputRoot.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiFilledInput-adornedEnd, .type-blank-type .Wordsuggest .MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiAutocomplete-inputRoot.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiFilledInput-adornedEnd {
  border-bottom: 2px solid #ccc;
    border-radius: 0;
    padding-bottom: 0 !important;
}

