.User {
    padding-right: 15px;
    padding-left: 15px;
    border: $border_wordbank;
    border-radius: $border_radius_box_wb;

    .table-bordered td,
    .table-bordered th {
        border: 0;
        text-align: center;
    }

    thead tr:first-child {
        border-bottom: 1px solid;
    }

    .table tbody+thead {
        display: none;
    }

    .table td,
    .table th {
        vertical-align: middle !important;
        font-weight: 900;
    }

    .img_style {
        width: 70px;
        height: 70px;
    }
}

.text_box_user {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #e5e5e5;
    padding: 6px;
    border-radius: 12px;
    margin-left: .25rem !important;
    margin-right: .25rem !important;
    margin-bottom: .35rem !important;

    .badge_style {
        background-color: #00ccff;
        position: absolute;
        right: -11px;
        top: -10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        font-size: 13px;
        border-radius: 50rem !important;
    }
}

.neshan_user {
    .img_style {
        width: 70px;
        height: 70px;
    }

    .level_style {
        position: absolute;
        bottom: 3px;
        font-size: 14px;
        right: 17px;
        font-weight: 900;
        color: white;
    }

    .border_neshan {
        display: flex;
        align-items: center;
        border: 3px solid #e5e5e5;
        border-radius: 15px;
        padding: 1rem !important;
    }
}